* {
    box-sizing: border-box;
}

body {
    background: #333;
    padding: 0;
    margin: 0;
    overflow: hidden; /* don't scroll with arrow keys, we'll use them to move the character */
}

.game-container {
    position: relative;
    width: 352px;
    height: 198px;
    margin: 0 auto; /* to center it */
    margin-top:20px;
    outline: 1px solid #fff;
}