:root { /* creating variables to be re-used */
    --border-color: #291D4D;
    --dialog-background: #FFF3B4;
    
    --menu-background: #FFE8D2;
    --menu-border-color: #A48465;
    --menu-font-color: #3A160D;
    --menu-selected-background: #7FC2FF;
}

* {
    box-sizing: border-box;
}

body {
    background: #333;
    padding: 0;
    margin: 0;
    overflow: hidden; /* don't scroll with arrow keys, we'll use them to move the character */
}

.game-container {
    position: relative;
    width: 352px;
    height: 198px;
    margin: 0 auto; /* to center it */
    outline: 1px solid #fff;

    transform: scale(3) translateY(50%); /* multiply every pixel by 3, scaling it up. Moving it down afterwards */
}

.game-container canvas {
    image-rendering: pixelated; /* evenly multiply all pixels (to not have blurry images when images are scaled up) */
}